.media-hero {
  position: relative;
  padding-top: 200px;
  min-height: 100vh;
  @media (max-width: 992px) {
    padding-top: 70px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    left: 30px;
    top: 0;
    width: calc(100% - 60px);
    background: linear-gradient(
      38deg,
      #333cef 39.78%,
      #0b98ff 61.74%,
      #9ce600 83.7%,
      #acd64e 105.66%
    );
    z-index: 0;
    @media (max-width: 992px) {
      background: linear-gradient(
        299deg,
        #333cef 39.78%,
        #0b98ff 61.74%,
        #9ce600 83.7%,
        #acd64e 105.66%
      );
      left: 0;
      width: 100%;
    }
    @media (max-width: 1400px) and (min-width: 1000px) {
      left: 0;
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0f0f0f 100%);
    z-index: 1;
    @media (max-width: 992px) {
      background: linear-gradient(
        180deg,
        rgba(15, 15, 15, 0) -130.21%,
        #0f0f0f 100%
      );
      left: 0;
      width: 100%;
    }
    @media (max-width: 1400px) and (min-width: 1000px) {
      left: 0;
      width: 100%;
    }
  }
  ._container {
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    color: #f0f0f7;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      font-size: 36px;
      margin-bottom: 16px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #f0f0f7;
    margin: 0 0 60px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 0 40px 0;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    position: relative;
    @media (max-width: 1100px) {
      height: auto;
    }
    .offer {
      width: calc(33.33% - 22px);
      border-radius: 0px 24px 24px 24px;
      background: #f0f0f7;
      padding: 32px;
      transition: all 0.5s;
      @media (max-width: 1100px) {
        width: 100%;
        position: relative;
        left: unset !important;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        padding: 24px;
        height: auto;
      }
      &:first-child {
        left: 0;
        top: 0;
      }
      &:nth-child(2) {
        right: 0;
        top: 0;
      }
      &:nth-child(3) {
        left: 0;
        bottom: 0;
      }
      &:nth-child(4) {
        right: 0;
        bottom: 0;
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        margin: 50px 0 0 0;
        color: #0f0f0f;
        @media (max-width: 1100px) {
          margin-top: 24px;
          font-size: 22px;
          max-width: 70%;
        }
      }
      p {
        pointer-events: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        transition: all 0.5s;
      }
      > svg {
        position: absolute;
        right: 40px;
        bottom: 40px;
        transform: rotate(0);
        transition: all 0.5s;
        @media (max-width: 1100px) {
          right: 24px;
          bottom: 24px;
          width: 32px;
          height: 32px;
        }
      }
      > img {
        @media (max-width: 1100px) {
          width: 32px;
          height: 32px;
        }
      }
      a {
        position: absolute;
        left: 40px;
        bottom: 40px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
        @media (max-width: 1100px) {
          left: unset;
          bottom: unset;
        }
      }
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.media-platforms {
  margin: 150px 0 150px 0;
  @media (max-width: 992px) {
    margin: 80px 0 80px 0;
  }
  h2 {
    color: #f0f0f7;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 60px 0;
    @media (max-width: 992px) {
      margin: 0 0 48px 0;
    }
  }
  &__body {
    position: relative;
    overflow: hidden;
    width: 100%;
    .inner {
      width: 2304px;
      display: flex;
      gap: 16px;
      animation: loop 50s linear infinite;
    }
  }
}

.media-last {
  margin: 150px 0 0 0;
  overflow: hidden;
  @media (max-width: 992px) {
    margin: 80px 0 0 0;
    ._container {
      padding: 0;
    }
  }
  &__body {
    border-radius: 0px 24px 24px 24px;
    padding: 135px 85px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      117deg,
      #333cef 8.25%,
      #0b98ff 37.98%,
      #9ce500 67.71%,
      #acd64e 97.44%
    );
    @media (max-width: 1375px) {
      padding: 100px 60px;
    }
    @media (max-width: 992px) {
      border-radius: 0;
      padding: 100px 16px 290px 16px;
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      background: linear-gradient(
        279deg,
        rgba(15, 15, 15, 0) -7.27%,
        #0f0f0f 97.2%
      );
    }
    > div {
      position: relative;
      z-index: 2;
    }
    .image-wrap {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      @media (max-width: 1375px) {
        width: 40%;
        img {
          width: 100%;
          height: auto;
        }
      }

      @media (max-width: 992px) {
        width: 100%;
        justify-content: flex-end;
        img {
          width: auto;
          height: auto;
          max-height: 350px;
          width: 100%;
          margin-bottom: -70px;
        }
      }
    }
  }
  h2 {
    color: #f0f0f7;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    z-index: 2;
    margin: 0 0 40px 0;
    @media (max-width: 992px) {
      margin: 0 0 30px 0;
      font-size: 30px;
      text-align: center;
      br {
        display: none;
      }
    }
  }
  p {
    color: #f0f0f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 80px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 0 64px 0;
      font-size: 16px;
      text-align: center;
    }
  }
  button {
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }
}
