@import "mixin";

.policy-top {
  padding: 0 0 0;
  background: #0a0a0a;

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    padding: 84px;
    background: linear-gradient(
      117deg,
      #333cef 8.25%,
      #0b98ff 37.98%,
      #9ce500 67.71%,
      #acd64e 97.44%
    );

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      padding: 48px 24px;
      background: linear-gradient(
        239deg,
        #333cef 8.25%,
        #0b98ff 37.98%,
        #9ce500 67.71%,
        #acd64e 97.44%
      );
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 0;
      display: block;
      background: linear-gradient(
        279deg,
        rgba(15, 15, 15, 0) -7.27%,
        #0f0f0f 97.2%
      );

      @media (max-width: 992px) {
        background: linear-gradient(
          30deg,
          rgba(15, 15, 15, 0) -7.27%,
          #0f0f0f 97.2%
        );
      }
    }

    h1 {
      position: relative;
      z-index: 1;
      width: 48%;
      margin: 0;
      color: #f0f0f7;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.2;

      @media (max-width: 992px) {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

.policy-content {
  padding: 0 0 140px;
  background: #0a0a0a;

  @media (max-width: 992px) {
    padding: 0 0 100px;
  }

  &__body {
    padding: 84px;
    border-radius: 0 0 4px 4px;
    background: #f0f0f7;

    @media (max-width: 992px) {
      padding: 40px 24px;
    }

    article {
      margin-bottom: 64px;

      @media (max-width: 992px) {
        margin-bottom: 36px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin: 0 0 16px;
      color: #0f0f0f;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 0 20px;
      padding: 0 0 0 16px;

      li {
        color: #0f0f0f;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
      }
    }

    h2 {
      margin: 40px 0 20px;
      color: #0f0f0f;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;

      @media (max-width: 992px) {
        margin: 36px 0 16px;
        font-size: 24px;
      }

      strong {
        font-weight: 600;
      }
    }

    h3 {
      margin: 24px 0 12px;
      color: #0f0f0f;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.2;

      @media (max-width: 992px) {
        font-size: 18px;
      }
    }

    a {
      color: #333cef;
      text-decoration: underline;
      text-underline-offset: 2px;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
